<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!---- file system resolving is not handled by routing system
        <link href="../public/style/style.css" type="text/css" rel="stylesheet">-->
    <!-- import files statically-->
    <!-- with express's static method-->
    <link href="/css/style.css" type="text/css" rel="stylesheet">
    <title>404 Not found !</title>
</head>
<body>
    <h1>Page not found</h1>
    <p>The page asked cannot be found</p>
    <hr>
    <p><i>NodeJS server 2019</i></p>
</body>
</html>