extends template.pug

block title
    title show books

block body_content
    p.important Hello world !  <!--If you want to write attributes, you must use the CSS syntax-->

    p Here is my dynamic variable : #{ dynamicValue }
    each book in books
        div
            span 
                //It is also possible to write attributes in parenthesis
                //we can apply conditions inside of it
                h3(class=(book.author === "John Doe")?"johndoe":"") #{ book.author }
                span #{ book.title }