<%- include('includes/header',{ titlePage: "hello world EJS !"}) -%>
<%# In EJS, inheritence is not possible, but including a template is possible %>
    <h4>Value in handlebars : </h4>
    <p> <%= variable %> </p> <!-- jsp like syntax, add equal to print variable -->
    <% if (value > 20) %> <!--Because it is plain JS in fact, we can use logic-->
        <p>Value is greater than 20</p>
    
    <% for(let book of books) { %> <!--Plain JS for of loop-->
        <h2><%= book.author %></h2>
        <p><%= book.title %></p>
    <% } %>
</body>
</html>