<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/style.css">
    <title>File assignement3</title>
</head>
<body>
    <h3>Assignement3</h3>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. In inventore velit natus, ullam possimus eius reiciendis quis fugit ratione eaque, hic eos veniam non. Voluptates cupiditate praesentium magnam maxime voluptate!</p>
</body>
</html>